/* reset */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* bendras css */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
}

.nav-item {
  padding: 12px 24px;
  display: inline-block;
  text-transform: uppercase;
}

.nav-item:hover {
  background-color: white;
  color: black;
}

/* band section */
.band-text {
  text-align: justify;
}

.band-cards {
  display: flex;
  align-items: flex-start;
}

.band-cards figcaption {
  text-align: center;
  margin-bottom: tour-cards-container 5px;
}

.tour-cards-container {
  display: flex;
}

.tour-cards {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: rgb(224, 199, 195);
}

input {
  background-color: black;
  color: white;
}

.date {
  color: grey;
}

.tour-text {
  margin-left: 10px;
}
