.form-container {
  max-width: 20rem;
  margin: 0 auto;
  box-shadow: 0.2rem 0.5em 0.9rem grey;
  border-radius: 0.3rem;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-title {
  text-align: center;
}

.error-msg {
  color: tomato;
  margin: 0;
}

.invalid {
  border: 0.01rem solid tomato;
}

.add-form input,
textarea {
  outline: none;
  border-radius: 0.2rem;
}
.add-form input {
  min-height: 1.5rem;
}

.add-form label {
  margin-top: 0.5rem;
}

.add-form textarea {
  resize: vertical;
}
