body {
  background-color: rgb(241, 241, 241);
}

.main-container {
  max-width: 80rem;
  margin: 0 auto;
}

.logo-container {
  background-color: white;
}

.company-logo {
  max-width: 10rem;
}

.main-nav {
  /* display: flex; */
  background-color: rgb(26, 52, 65);
  padding: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 3%;
}

.header-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(174, 196, 59);
  min-height: 50vh;
  font-size: 4rem;
  margin-top: 1rem;
}

.header-image-text {
  color: white;
  text-align: center;
}

.about-company-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
  gap: 1rem;
}

.about-section {
  background-color: white;
  min-height: 10rem;
  padding: 1rem;
}

.about-title {
  color: rgb(39, 55, 70);
}

.content-container {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
}

.left-part {
  max-width: 55rem;
}

.navigation-right-part {
  margin-left: 2rem;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  height: 11rem;
  width: 22rem;
}

.sub-nav-link {
  text-decoration: none;
  color: rgb(133, 133, 133);
  margin-bottom: 0.1rem;
  padding: 0.8rem;
}
