<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="templatestyle.css" />
  </head>
  <body>
    <article>
      <div class="container-grid">
        <div class="grid-item header">
          <h1>Architectural agency</h1>
          <p>Sample text.Click to select the box. Click again or double click to start editing the text.</p>
        </div>
        <div class="grid-item grid-1">
          <img class="img1" src="https://placeimg.com/640/480/tech" alt="tech1" />
        </div>
        <div class="grid-item grid-2">
          <h3>Planning</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia id reprehenderit quidem doloremque deleniti obcaecati enim! Nisi ut quia, inventore aspernatur provident officia aperiam, vero, dolorem numquam quas rerum itaque.
          </p>
        </div>
        <div class="grid-item grid-3">
          <img class="img2" src="https://placeimg.com/640/480/tech" alt="tech1" />
        </div>
        <div class="grid-item grid-4">
          <h3>Buildings</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, accusantium temporibus? Doloremque quisquam, nulla natus fuga, praesentium esse molestias quasi maxime officia, eveniet a inventore quidem nemo enim cupiditate
            quis.
          </p>
        </div>
        <div class="grid-item grid-5">
          <img class="img3" src="https://placeimg.com/640/480/tech" alt="tech1" />
        </div>
        <div class="grid-item grid-6">
          <h3>Our projects</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae aliquid quod, ex incidunt velit natus illo culpa! Vitae autem obcaecati voluptate suscipit! Sunt facilis assumenda obcaecati veritatis veniam? Quidem, veritatis!
          </p>
        </div>
      </div>
    </article>
  </body>
</html>
