#nav-item {
  border: 1px solid rgb(134, 53, 134);
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
}

#car_table,
th,
td,
tr {
  border: 1px solid rgb(233, 193, 106);
  width: 40%;
  color: rgb(129, 89, 40);
}

#car_table {
  margin-top: 20px;
}

#car-form {
  margin-top: 20px;
}

.alert {
  border: 1px solid rgb(179, 37, 37);
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(114, 77, 77);
  width: 10%;
}
